<ion-header>
  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>test-modal</ion-title>
  </ion-toolbar>

  <ion-toolbar>

    <ion-nav-link router-direction="forward">
    <ion-button color="success" (click)="goForward('subview1')">
      Go to level subview1
    </ion-button>
  </ion-nav-link>
  <ion-nav-link router-direction="forward">
    <ion-button color="success" (click)="goForward('subview2')">
      Go to level subview2
    </ion-button>
  </ion-nav-link>
  <ion-nav-link router-direction="forward">
    <ion-button color="success" (click)="goForward('subview3')">
      Go to level subview3
    </ion-button>
  </ion-nav-link>
  
  </ion-toolbar>

</ion-header>

<ion-content>
  <!-- <ion-router-outlet name="subviews"></ion-router-outlet> -->
  <ion-nav #nav [root]="rootPage"></ion-nav>
</ion-content>
